DATABASE_URL=postgresql://user:password@host/dbname

EMAIL_SENDER=tu@gmail.com
EMAIL_PASSWORD=app_password
EMAIL_RECEIVER=tu@gmail.com

SECRET_KEY=pricehunter-secret-2026
SCRAPE_API_KEY=pricehunter-scrape-2026

VITE_API_URL=https://pricehunter-api.onrender.com
